@page
@model LoginModel


@{
    ViewData["Title"] = "Ingresar";
}
    <link href="~/css/ClasesLoguin.css" rel="stylesheet" />



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="wrapper">
    <form id="account" method="post" class="login">
        @* <p class="logo-login"><img src="~/img/logos.png" class="logo-login" /></p> *@
        
        

       <input asp-for="Input.Email" class="form-control" id="Email" onkeyup="FiltrarEmail()" onkeydown="FiltrarEmail()"  autocomplete="username" aria-required="true" />
        <i class="fa fa-user"></i>
        <i id="email-invalido-login" class="requeridoLogin ocultar" data-toggle="tooltip" data-placement="bottom" title="El email ingresado no es válido." aria-hidden="true"></i>

        <input asp-for="Input.Password" class="form-control" id="Password" onkeyup="FiltrarContrasena()" onkeydown="FiltrarContrasena()"  autocomplete="current-password" aria-required="true" />
        <i class="fa fa-key"></i>
        <i id="password-invalido" class="requeridoLogin ocultar" data-toggle="tooltip" data-placement="bottom" title="La contraseña ingresada es incorrecta." aria-hidden="true"></i>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button>
            <span id="login-submit" type="submit" onclick="IniciarSesion()" class="state">Ingresar</span>
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/Login/UserLoginRegister.js"></script>
} 